.App {
  text-align: center;
}

.App-header {
  background-color: #3b3f47;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5c7377;
  color: #959fa1;
  color: #8aadb1d7;
  color: #dbdada;
  background-color: #5c7377;
  color: #cf7272;
}
